* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 175, 221);
}

input {
  width: 250px;
  height: 60px;
  border-radius: 40px;
}

.screen {
    height: 25px;
}

#warp {
  position: relative;
  width: 280px;
  height: 550px;
  margin: 1vh auto;
  background-color: #ccc;
  padding: 10px 20px;
  border-radius: 50px 50px 10px 10px;
  overflow: hidden;
  box-shadow: 0.2em 0.2em 2px 2px #fff;
}

.top {
  position: relative;
  height: 60px;
  width: 200px;
  margin-left: 55px;
  background-color: #888;
  margin-bottom: 30px;
  border-radius: 40px;
  box-shadow: 0.1em 0.1em 1px 1px #777;
  overflow: hidden;
}

span {
  float: left;
  font-size: 23px;
  margin: 10px 9px;
  background-color: #6ff;
  width: 50px;
  height: 90px;
  text-align: center;
  line-height: 140px;
  border-radius: 5px;
  box-shadow: 0.08em 0.08em 1px 1px #4dd0e1;
  -webkit-transition: border-radius 1s;
  cursor: pointer;
  transition: all 0.8s;
}

.top
div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.clear {
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: rgba(252, 252, 252, 0);
  color: #000;
  box-shadow: none;
  border-radius: 50%;
}

.backspace {
  position: absolute;
  left: 25px;
  top: 60px;
  line-height: 30px;/* right: 40px; */
  width: 30px;
  height: 30px;
  background-color: rgba(252, 252, 252, 0);
  color: #000;
  box-shadow: none;
  border-radius: 50%;
}

.backspace:hover {
  font-size: 40px;
  line-height: 23px;/* background-color: #ADADAD; */
  color: #fff;
}

.clear:hover {
  font-size: 23px;
  line-height: 23px;/* background-color: #ADADAD; */
  color: #fff;
}

span:hover {
  color: #fff;
  line-height: 100px;
  font-weight: bold;
  font-size: 40px;
  transition: font  0.5s;
}

span:active {
  color: #000;
}
